<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.7.0" />
  <package id="Communication.Network.RUDP.Client" version="2.7.0" manuallyInstalled="true" />
  <package id="Communication.Network.RUDP.Server" version="2.7.0" manuallyInstalled="true" />
  <package id="Communication.Network.RUDP.Shared" version="2.7.0" manuallyInstalled="true" />
  <package id="Communication.Shared" version="2.7.0" manuallyInstalled="true" />
  <package id="DRPC.Attribute" version="3.5.0" manuallyInstalled="true" />
  <package id="DRPC.Client" version="3.5.0" manuallyInstalled="true" />
  <package id="DRPC.CodeGenerator" version="3.5.0" manuallyInstalled="true" />
  <package id="DRPC.Server" version="3.5.0" manuallyInstalled="true" />
  <package id="DRPC.Shared" version="3.5.0" manuallyInstalled="true" />
  <package id="LiteNetLib" version="2.1.4" />
  <package id="MessageProtocol" version="3.2.0" manuallyInstalled="true" />
  <package id="MessageProtocol.CodeGenerator" version="3.2.0" />
  <package id="UniNet.CodeGenerator" version="0.1.0" />
  <package id="MessageProtocol.Core" version="3.2.0" manuallyInstalled="true" />
</packages>